
footer {
  background-color:rgb(47, 50, 49);
  color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.footer-content h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-content p {
  font-size: 16px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin: 0 10px;
}

.footer-content ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-content ul li a:hover {
  color: #f2f2f2;
}

.footer-bottom {
  background-color:rgb(81, 119, 106);
  padding: 10px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
}

.footer-content ul li a i {
  font-size: 18px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

